.walker-dashboard-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "area1"
        "area2"
        "area3"
        "area4";
    justify-items: stretch;
    align-items: stretch;
    text-align: center;
}

.area-border {
}

.area1 {
    grid-area: area1;
}

.area2 {
    grid-area: area2;

    height: 250px;
    overflow: auto;
}

.area3 {
    grid-area: area3;

    height: 250px;
    overflow: auto;
}

.area4 {
    grid-area: area4;

    height: 300px;
    overflow: auto;
}
