.walker-history-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* justify-items: stretch;
    align-items: stretch; */
    text-align: center;
    overflow: hidden;
    width: 100%;
    /* height: 75vh; */
}

.walker-history-container-col1 {
    border: 3px solid #6610f2;
    margin-top: 30px;
    margin-bottom: 30px;
}

.walker-history-container-col2 {
    border: 3px solid #6610f2;
    margin-top: 30px;
    margin-bottom: 30px;
}

.back-button {
    text-align: center;
}
