.job-scroll-container {
    height: 100%;
    width: 50vw;
    border: 3px solid red;
    overflow: scroll;
}

.job-scroll-list-container {
    height: 100%;
    /* background-color: lightblue; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-items: centre;
    align-items: center;
}

.job-scroll-list-container h4 {
    text-align: center;
    border: 1px solid lightgrey;
}

.job-scroll-list-container p {
    border: 1px solid lightgrey;
    text-align: center;
}
