.radio-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #741188;
    
}

.radio-button-label-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #741188;
    font-weight: bold;
    margin-top: 10px;
    
}

.button-color {

}



    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #e2d1e6;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 7.55px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #741188;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }