.sign-up-form-radio-buttons {
    display: flex;
    justify-content: space-around;
    border: 1px solid lightgray;

    padding: 0.375rem 0.75rem;
}

.sign-up-form-layout > div {
    margin-top: 1rem;
}

.sign-up-form-field-width {
    width: 100%;
}
